[[plugins]]
package = "@netlify/plugin-nextjs"

[build]
CI='' yarn run build
publish = ".next"

[[headers]]
  for = "/_next/image/*"

  [headers.values]
    Strict-Transport-Security = "max-age=31536000"
    X-Test = 'foobar'